## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [16]:
# Your code here
sample_list_1 = random.sample(range(100), k = 80)
print(sample_list_1)

[57, 65, 90, 12, 35, 46, 45, 27, 71, 3, 47, 6, 74, 41, 67, 66, 51, 76, 20, 36, 99, 29, 92, 73, 13, 94, 18, 58, 60, 37, 96, 15, 95, 98, 39, 17, 28, 33, 75, 21, 23, 24, 22, 25, 26, 30, 97, 48, 63, 80, 61, 8, 52, 31, 54, 62, 42, 16, 91, 53, 87, 59, 84, 34, 43, 68, 2, 56, 9, 86, 11, 93, 5, 82, 44, 89, 83, 79, 88, 69]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [17]:
# Your code here
set1 = set(sample_list_1)
print(set1)
print(len(set1))

{2, 3, 5, 6, 8, 9, 11, 12, 13, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 39, 41, 42, 43, 44, 45, 46, 47, 48, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 71, 73, 74, 75, 76, 79, 80, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [18]:
# Your code here
sample_list_2 = random.sample(range(100), k = 80)
print(sample_list_1)

[57, 65, 90, 12, 35, 46, 45, 27, 71, 3, 47, 6, 74, 41, 67, 66, 51, 76, 20, 36, 99, 29, 92, 73, 13, 94, 18, 58, 60, 37, 96, 15, 95, 98, 39, 17, 28, 33, 75, 21, 23, 24, 22, 25, 26, 30, 97, 48, 63, 80, 61, 8, 52, 31, 54, 62, 42, 16, 91, 53, 87, 59, 84, 34, 43, 68, 2, 56, 9, 86, 11, 93, 5, 82, 44, 89, 83, 79, 88, 69]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [19]:
# Your code here
set2 = set(sample_list_2)
print(set2)
print(len(set2))

{0, 2, 3, 5, 6, 7, 9, 10, 11, 13, 14, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 52, 53, 54, 55, 56, 57, 59, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}
80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [21]:
# Your code here
set3 = set1 - set2
print(set3)

{96, 35, 36, 37, 8, 12, 76, 15, 16, 51, 61, 58, 60, 29, 62}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [22]:
# Your code here
set4 = set2 - set1
print(set4)

{0, 32, 64, 38, 7, 40, 70, 10, 14, 78, 49, 81, 19, 85, 55}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [24]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

65

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [29]:
# Your code here

print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

#Same length between set1 and set2
len(set1) == len(set2)

#Set3 and Set4 each have the same number of elements that don't belong to each original set so they don't intersect
dont_intersect = set3.intersection(set4)
print(dont_intersect)

#Set5 is the

80
80
15
15
65
set()

#### Create an empty set called `set6`.

In [38]:
# Your code here
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [39]:
# Your code here
set6.update(set3)
print(set6)
set6.update(set5)
print(set6)

{96, 35, 36, 37, 8, 12, 76, 15, 16, 51, 61, 58, 60, 29, 62}
{2, 3, 5, 6, 8, 9, 11, 12, 13, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 39, 41, 42, 43, 44, 45, 46, 47, 48, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 71, 73, 74, 75, 76, 79, 80, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [40]:
# Your code here
len(set1) == len(set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [41]:
# Your code here
set1.issubset(set2)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [44]:
# Your code here
union_345 = set3.union(set4, set5)
print(len(union_345))
union_12 = set1.union(set2)
print(len(union_12))

len(union_12) == len(union_345)

95
95

True

#### Using the `pop` method, remove the first element from `set1`.

In [51]:
# Your code here
set_1_ls = list(set1)
delete_pop = set_1_ls.pop(0)
delete_pop

2

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [62]:
# Your code here
set_1_ls = list(set1)
print(len(set_1_ls))
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

remaining = []
for elem in list_to_remove:
    if elem in set_1_ls:
        set_1_ls.remove(elem)
    else:
        remaining.append(elem)
print(remaining)
print(len(set_1_ls))

80
[1, 19, 49, 81]
64